**/node_modules
**/.next
.git
.gitignore
**/dist
apps/desktop/release
*.md
!README.md
.env
.env.*
!apps/web/.env.example
apps/web/prisma/*.db
apps/web/prisma/*.db-journal
.gitlab-ci.yml
docker-compose*.yml
nginx.conf
turnserver.conf
.vscode
.idea
coverage
__tests__
